* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: white;
  text-align: center;
  margin: 20px;
  font-size: 50px;
  margin-top: 50px;
}
hr {
  color: white;
  margin-top: 20px;
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
}
#div_a_propos {
  background-image: linear-gradient(to right, black, purple);
  border-radius: 30px;
  padding: 20px;
  border: solid 2px rgb(0, 32, 211);
  margin: 30px;
}
h2 {
  color: white;
  text-align: center;
  margin: 20px;
  margin-top: 50px;
  font-size: 30px;
}
