* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin: 20px;
  font-size: 50px;
  margin-top: 50px;
}
h2,
h1,
p {
  color: white;
}
#div_nous_joindre p {
  text-align: center;
  margin: 20px;
  font-size: 14px;
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#div_nous_joindre #p_1 {
  color: white;
  text-align: center;
  margin: 20px;
  font-size: 20px;
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#div_nous_joindre {
  background-image: linear-gradient(to right, black, purple);
  border-radius: 30px;
  padding: 20px;
  border: solid 2px rgb(0, 32, 211);
  margin: 30px;
}

/* section nos reseaux sociaux */
.section_reseaux_sociaux {
  background-image: linear-gradient(to right, black, rgb(0, 60, 255));
  border-radius: 30px;
  display: flex;
  padding: 20px;
  margin: 20px;
  margin: 0 auto;
  width: 90%;
  align-items: center;
  text-align: center;
  border: solid 2px rgb(255, 255, 255);
  height: 450px;
}

.text_reseaux_sociaux h2 {
  margin: 0px 20px 40px 20px;
  font-size: 30px;
  /* margin: 40px; */
  font-weight: 500;
}
.text_reseaux_sociaux p {
  margin: 20px 20px 40px 20px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.text_reseaux_sociaux {
  margin: 0px 20px 0px 20px;
  font-size: 15px;
  width: 40%;
}
.img_reseaux_sociaux {
  border-radius: 40px;
  background-image: url("/Imprevisible/img/social_media.webp");
  width: 60%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

/* form */

.container {
  width: 80%;
  display: flex;
  background-size: white;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 30px;
  margin-bottom: 50px;
  animation: fade-up 0.9s;
}
.container .left {
  float: left;
  width: 50%;
  background-image: url("/Imprevisible/img/logo\ favicon\ arrondi.png"),
    radial-gradient(purple, rgb(0, 60, 255));
  background-repeat: repeat;
  background-size: 52px, auto;
  opacity: 0.5;
}

.container .right {
  float: right;
  width: 50%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  /* height: 400px; */
  box-sizing: border-box;
}
.formBox {
  width: 100%;
  /* padding: 80px 40px; */
  /* height: 400px; */
  box-sizing: border-box;
  background: #fff;
}
.formBox p {
  /* margin: 0;
  padding: 0; */
  font-weight: bold;
  color: #1a8488;
}
.formBox h2 {
  color: #000000;
}
.formBox input,
.formBox h2,
.formBox textarea {
  margin-bottom: 20px;
}
.formBox p {
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.formBox h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 30px;
}
.formBox input[type="text"],
.formBox input[type="radio"],
.formBox input[type="email"] {
  border: none;
  border-bottom: 1px solid #508687;
  outline: none;
}

.formBox input[type="text"]:focus,
.formBox input[type="radio"]:focus {
  border-bottom: 1px solid #000000;
}

#bouton_valider {
  width: 200px;
  height: 40px;
  font-size: 17px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #764ba2, blue);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

#bouton_valider:hover {
  background-position: 100%;
  transition: all 0.4s ease-in-out;
}
textarea {
  width: 50%;
  height: 100%;
  border-radius: 8px;
}
#message_envoye {
  display: none;
  text-align: center;
  font-size: 11px;
  width: 20%;
  transition: 1s;
  margin: 0 auto;
  color: black;
  background-color: green;
  border-radius: 30px;
}

#message_envoye p {
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    margin-top: 0 auto;
  }
  .container .left {
    width: 100%;
  }
  .container .right {
    height: 100%;
    width: 100%;
  }
  .title h2 {
    color: white;
  }
}

@media screen and (max-width: 970px) {
  .section_reseaux_sociaux {
    flex-direction: column;
    height: 700px;
  }
  .img_reseaux_sociaux {
    width: 100%;
    height: 70%;
    background-size: cover;
    object-fit: cover;
  }
  .text_reseaux_sociaux {
    width: 100%;
    text-wrap: pretty;
    overflow-wrap: break-word;
    hyphens: manual;
    margin: 30px;
    text-align: center;
  }
  hr {
    width: 80%;
    margin: auto;
  }
}
#logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
