/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
  color: green;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: rgb(160, 153, 52);
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: transparent;
  opacity: 0.5;
  color: rgb(219, 208, 145);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: blanchedalmond;
  color: rgb(0, 0, 0);
}

#logo {
  width: 4%;
  position: absolute;
  left: 3.5%;
  top: 5%;
}

h1 {
  position: relative;
  font-size: 60px;
  top: 26px;
  font-weight: 100;
  color: rgb(233, 228, 200);
  margin-top: 4%;
  text-align: center;
  font-family: "fredoka one", cursive;
}
#intro {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  color: rgb(255, 255, 255);
  position: relative;
  text-align: center;
  font-size: 108%;
}
#div_nous_joindre {
  width: 100%;
  left: 0%;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-image: url("horizzzz.jpg");
}
#intro2 {
  color: rgb(255, 255, 255);
  position: relative;
  font-family: "fredoka one", cursive;
  text-align: center;
  font-weight: 100;
  font-size: 120%;
}

/* ---------------------footer------------------------------------------------------- */
.form-style-5 {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset {
  border: none;
}
.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-style-5 label {
  display: block;
  margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus {
  background: #d2d9dd;
}
.form-style-5 select {
  -webkit-appearance: menulist-button;
  height: 35px;
}
.form-style-5 .number {
  background: rgb(233, 228, 200);
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"] {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: black;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid rgb(233, 228, 200);
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover {
  background: rgb(233, 228, 200);
}
h2 {
  text-align: center;
  color: rgb(180, 176, 154);
  font-family: "fredoka one", cursive;
}

.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* Credit to https://bootsnipp.com/snippets/bxDBA */

@media screen and (max-width: 835px) {
  .topnav {
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
  }
  .topnav a {
    width: 50%;
  }
  h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 300px) {
  #intro2 {
    font-size: 90%;
    top: 300px;
  }
}
@media screen and (min-width: 1249px) {
  #intro2 {
    top: 400px;
  }
}
@media screen and (max-width: 309px) {
  #intro2 {
    visibility: hidden;
  }
}
@media screen and (max-width: 952px) {
  #intro2 {
    font-size: 60%;
  }
}
@media screen and (max-width: 835px) {
  #logo {
    width: 13%;
  }
}
@media screen and (min-width: 835px) {
  #logo {
    visibility: hidden;
  }
}
@media screen and (max-width: 600px) {
  #j {
    font-size: 60%;
  }
}
