/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
  color: green;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: rgb(160, 153, 52);
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 11%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: transparent;
  opacity: 0.5;
  color: rgb(219, 208, 145);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: blanchedalmond;
  color: rgb(0, 0, 0);
}

#logo {
  width: 4%;
  position: absolute;
  left: 3.5%;
  top: 5%;
}

h1 {
  position: relative;
  font-size: 70px;
  font-weight: 100;
  color: rgb(233, 228, 200);
  margin-top: 4%;
  text-align: center;
  font-family: "fredoka one", cursive;
}
#intro {
  text-align: center;
  font-family: "fredoka one", cursive;
  color: rgb(0, 0, 0);
  position: relative;
  font-size: 100%;
}
#div_nouveautés {
  display: flex;
  flex-direction: column;
}

/*-----------------------------------------HEADER------------------------------------------------------*/

#P_1 {
  color: rgb(0, 0, 0);
  position: relative;
  text-align: center;
  font-size: 110%;
  font-family: "fredoka one", cursive;
  opacity: 0.9;
}

#battlefield_img {
  background-size: cover;
  opacity: 1;
  background-image: url(battlefield-2042-2.jpg);
}
#h2_2 {
  text-align: center;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 70px;
  position: relative;
}
#p_1 {
  text-align: center;
  font-family: "fredoka one", cursive;
  color: rgb(255, 255, 255);
  font-size: 100%;
  position: relative;
}
#p_2 {
  text-align: center;
  font-family: "fredoka one", cursive;
  color: white;
  font-size: 100%;
  position: relative;
}
#video1 {
  width: 70%;
  position: relative;
  border-radius: 100%;
}
#video2 {
  width: 70%;
  position: relative;
  border-radius: 100%;
}
#video3 {
  width: 70%;
  position: relative;
  border-radius: 100%;
}

#video1:hover {
  opacity: 0.6;
}
#video2:hover {
  opacity: 0.6;
}
#video3:hover {
  opacity: 0.6;
}
#divbattlefield {
  padding-top: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center !important;
}

#img1 {
  width: 50%;
  opacity: 0.5;
}
#img2 {
  width: 50%;
  border-radius: 200%;
  opacity: 0.5;
}
#img3 {
  width: 50%;
  opacity: 0.5;
}
#img4 {
  width: 50%;
  border-radius: 20%;
  opacity: 0.5;
}
#img1:hover {
  opacity: 1;
}
#img2:hover {
  opacity: 1;
}
#img3:hover {
  opacity: 1;
}
#img4:hover {
  opacity: 1;
}
#div_article1 {
  text-align: center;
}
#div_article2 {
}
#p_1_1 {
  font-size: 14px;
  color: rgb(0, 0, 0);
  border: 5px solid;
  font-family: "fredoka one", cursive;
  text-align: center;
}
#p_2_2 {
  font-size: 14px;
  color: rgb(0, 0, 0);
  border: 5px solid;
  font-family: "fredoka one", cursive;
}
#p_3_3 {
  font-size: 14px;
  color: rgb(0, 0, 0);
  border: 5px solid;
  font-family: "fredoka one", cursive;
}
#p_4_4 {
  font-size: 14px;
  color: rgb(0, 0, 0);
  border: 5px solid;
  font-family: "fredoka one", cursive;
}
#h31 {
  color: rgb(158, 153, 127);
}
#h32 {
  color: rgb(158, 153, 127);
}
#h33 {
  font-size: 15px;
  color: rgb(158, 153, 127);
}
#h34 {
  font-size: 15px;
  color: rgb(158, 153, 127);
}
h3 {
  font-family: "fredoka one", cursive;
  color: rgb(233, 228, 200);
  font-size: 17px;
}
#h22 {
  text-align: center;
  font-family: "fredoka one", cursive;
}
#H {
}
#h23 {
  text-align: center;
}
#h23:hover {
  text-decoration: underline;
}
#h24 {
  text-align: center;
  font-size: 20px;
  border: 5px solid;
}
#lesdernieresannonces {
  text-align: center;
  font-family: "fredoka one", cursive;
  margin-top: 50px;
}
#lesdernieresannonces:hover {
  text-decoration: underline;
}
#div_separation {
  width: 100%;
  opacity: 1;
  position: relative;
  background-size: cover;
  height: 150px;
  background-image: url("couleur-violet2.jpg");
  overflow: hidden;
}
#logo3 {
  width: 290px;
  opacity: 0.3;
  position: relative;
}
/* -------------------------------LE FOOTER COMMENCE ICI */
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* Credit to https://bootsnipp.com/snippets/bxDBA */

/*------------------bouton1---------------------------------*/
.classbouton {
  display: flex;
  justify-content: center;
}
.bn632-hover {
  width: 220px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn20 {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

@media (max-width: 835px) {
  .topnav {
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
  }
  .topnav a {
    width: 50%;
  }
}
@media screen and (max-width: 835px) {
  #logo {
    width: 13%;
  }
}
@media screen and (min-width: 835px) {
  #logo {
    visibility: hidden;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  #h2_2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 720px) {
  #P_1 {
    font-size: 50%;
  }
  #intro {
    font-size: 50%;
  }
}
