/* Style the video: 100% width and height to cover the entire window */
#play_opning {
  width: 100%;
  opacity: 1;
  /* left: 0;
  position: absolute; */
  /* background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
}
h1 {
  position: relative;
  font-size: 70px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  margin-top: 5%;
  text-align: center;
  font-family: "fredoka one", cursive;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
  color: green;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: rgb(160, 153, 52);
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 11%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: transparent;
  opacity: 0.5;
  color: rgb(219, 208, 145);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: blanchedalmond;
  color: rgb(0, 0, 0);
}

#logo {
  width: 4%;
  position: absolute;
  left: 3.5%;
  top: 5%;
}
body {
  background-color: rgb(255, 255, 255);
}

#titre_logo {
  text-decoration: none;
  font-size: 16.5px;
  color: #d3cd98;
  margin: 1.5%;
  font-family: "fredoka one", cursive;
}
#intro {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}
#logo2 {
  width: 35px;
  position: absolute;
  top: 24%;
  left: 64%;
}

/*****carrousel 3d avec navigation*****/
.caroussel_diapo {
  text-align: center;
  margin: 5rem auto;
}
.contenu_carou {
  text-align: center;
  margin: 5rem auto;
}

img {
  width: 110%;
}

.caroussel_diapo input {
  position: absolute;
  left: -9999px;
}

.caroussel_diapo {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.contenu_carou {
  width: 500px;
  height: 332px;

  perspective: 4000px;
}

.caroussel {
  transform-style: preserve-3d;
  position: relative;
  width: 500px;
  height: 332px;
  transition: 1s;
}

.caroussel img {
  position: absolute;
  top: 0;
  left: 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;
  transition: 1s;
}

.caroussel img {
  filter: blur(3px);
  opacity: 0.8;
}
.caroussel img:nth-child(1) {
  transform: translate3d(0, 0, 540px) scale(0.8);
}
.caroussel img:nth-child(2) {
  transform: rotateY(45deg) translateZ(540px) scale(0.8);
}
.caroussel img:nth-child(3) {
  transform: rotateY(90deg) translateZ(540px) scale(0.8);
}
.caroussel img:nth-child(4) {
  transform: rotateY(135deg) translateZ(540px) scale(0.8);
}
.caroussel img:nth-child(5) {
  transform: rotateY(180deg) translateZ(540px) scale(0.8);
}
.caroussel img:nth-child(6) {
  transform: rotateY(225deg) translateZ(540px) scale(0.8);
}
.caroussel img:nth-child(7) {
  transform: rotateY(270deg) translateZ(540px) scale(0.8);
}
.caroussel img:nth-child(8) {
  transform: rotateY(315deg) translateZ(540px) scale(0.8);
}

.caroussel_diapo input[type="radio"] + label {
  cursor: pointer;
  background: hsl(203, 77%, 81%);
  display: inline-block;
  width: 20px;
  border-radius: 50%;
  height: 20px;
}

.caroussel_diapo input[type="radio"]:checked + label {
  background: hsl(203, 77%, 61%);
}

.caroussel_diapo label {
  background: hsl(203, 77%, 61%);
}

.caroussel_diapo
  input[name="rotation"]:checked
  ~ .contenu_carou
  .caroussel
  img:nth-child(n) {
  filter: drop-shadow(12px 12px 7px hsla(0, 0%, 0%, 0.5));
}

/*gauche*/
.caroussel_diapo #carou_un:checked ~ .contenu_carou .caroussel {
  transform: translateZ(-540px);
}
.caroussel_diapo #carou_deux:checked ~ .contenu_carou .caroussel {
  transform: translateZ(-540px) rotateY(-45deg);
}
.caroussel_diapo #carou_trois:checked ~ .contenu_carou .caroussel {
  transform: translateZ(-540px) rotateY(-90deg);
}
.caroussel_diapo #carou_quatre:checked ~ .contenu_carou .caroussel {
  transform: translateZ(-540px) rotateY(-135deg);
}
.caroussel_diapo #carou_cinq:checked ~ .contenu_carou .caroussel {
  transform: translateZ(-540px) rotateY(-180deg);
}
.caroussel_diapo #carou_six:checked ~ .contenu_carou .caroussel {
  transform: translateZ(-540px) rotateY(-225deg);
}
.caroussel_diapo #carou_sept:checked ~ .contenu_carou .caroussel {
  transform: translateZ(-540px) rotateY(-270deg);
}
.caroussel_diapo #carou_huit:checked ~ .contenu_carou .caroussel {
  transform: translateZ(-540px) rotateY(-315deg);
}

/*droite*/
.caroussel_diapo
  #carou_un:checked
  ~ .contenu_carou
  .caroussel
  img:nth-child(1) {
  transform: translateZ(540px) scale(1);
  opacity: 1;
}
.caroussel_diapo
  #carou_deux:checked
  ~ .contenu_carou
  .caroussel
  img:nth-child(2) {
  transform: rotateY(45deg) translateZ(540px) scale(1);
  opacity: 1;
}
.caroussel_diapo
  #carou_trois:checked
  ~ .contenu_carou
  .caroussel
  img:nth-child(3) {
  transform: rotateY(90deg) translateZ(540px) scale(1);
  opacity: 1;
}
.caroussel_diapo
  #carou_quatre:checked
  ~ .contenu_carou
  .caroussel
  img:nth-child(4) {
  transform: rotateY(135deg) translateZ(540px) scale(1);
  opacity: 1;
}
.caroussel_diapo
  #carou_cinq:checked
  ~ .contenu_carou
  .caroussel
  img:nth-child(5) {
  transform: rotateY(180deg) translateZ(540px) scale(1);
  opacity: 1;
}
.caroussel_diapo
  #carou_six:checked
  ~ .contenu_carou
  .caroussel
  img:nth-child(6) {
  transform: rotateY(225deg) translateZ(540px) scale(1);
  opacity: 1;
}
.caroussel_diapo
  #carou_sept:checked
  ~ .contenu_carou
  .caroussel
  img:nth-child(7) {
  transform: rotateY(270deg) translateZ(540px) scale(1);
  opacity: 1;
}
.caroussel_diapo
  #carou_huit:checked
  ~ .contenu_carou
  .caroussel
  img:nth-child(8) {
  transform: rotateY(315deg) translateZ(540px) scale(1);
  opacity: 1;
}

#nosdernieresactus {
  text-align: center;
  font-size: 40px;
  font-family: "fredoka one", cursive;
  font-weight: 100;
}
#p_1 {
  text-align: center;
  font-weight: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}
#p_2 {
  text-align: center;
  font-weight: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}

#h2_uncharted {
  text-align: center;
  font-size: 30px;
  font-family: "fredoka one", cursive;
  font-weight: 100;
}

#bisection {
  background-image: url(1200px-Noir_couleur.jpg);
}
#video1 {
  width: 50%;
  border-radius: 50%;
  margin-left: 26%;
}
#p_bisection {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}
#h2_bisection {
  text-align: center;
  color: rgb(231, 228, 212);
  font-family: "fredoka one", cursive;
  font-size: 23px;
}
#p_uncharted {
  text-align: center;
  font-weight: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}
#h2_2 {
  color: rgb(104, 70, 25);
  font-family: "Segoe UI";
  font-weight: 400;
  text-align: center;
}
#h2_3 {
  font-family: "fredoka one", cursive;
  font-weight: 3%;
  text-align: center;
}
#p_unchrtd {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  font-size: 110%;
  color: white;
}
#div_unchrtd {
  background-image: url("unchartedd.jpg");
  background-size: cover;
  opacity: 0.9;
  padding-bottom: 200px;
}

/*------------------bouton1---------------------------------*/
.classbouton {
  display: flex;
  justify-content: center;
}
.bn632-hover {
  width: 220px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn20 {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

/*footer*/
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* Credit to https://bootsnipp.com/snippets/bxDBA */

@media (max-width: 835px) {
  .topnav {
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
  }
  .topnav a {
    width: 50%;
  }
}

@media screen and (max-width: 835px) {
  #logo {
    width: 13%;
  }
}
@media screen and (min-width: 835px) {
  #logo {
    visibility: hidden;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  .caroussel_diapo {
    display: none;
  }
}
@media (max-width: 991px) {
  #p_2 {
    display: none;
  }
}
