/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
  color: green;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: rgb(160, 153, 52);
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 11%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: transparent;
  opacity: 0.5;
  color: rgb(219, 208, 145);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: blanchedalmond;
  color: rgb(0, 0, 0);
}

#logo {
  width: 4%;
  position: absolute;
  left: 3.5%;
  top: 5%;
}

h1 {
  position: relative;
  font-size: 60px;
  top: 26px;
  font-weight: 100;
  color: rgb(148, 145, 127);
  margin-top: 4%;
  text-align: center;
  font-family: "fredoka one", cursive;
}
#div_nous_joindre {
  width: 100%;
  background-size: cover;
  height: 800px;
  opacity: 1;
  background-image: url("Horizon Zero Dawn™_ Complete Edition_20220131232656.jpg");
}
#intro {
  font-family: "fredoka one", cursive;
  color: rgb(255, 250, 230);
  position: relative;
  text-align: center;
  font-size: 108%;
  top: 3%;
}

#intro2 {
  color: rgb(255, 250, 230);
  position: relative;
  font-family: "fredoka one", cursive;
  text-align: center;
  font-size: 125%;
}
h2 {
  text-align: center;
  color: rgb(180, 177, 157);
  font-family: "fredoka one", cursive;
  position: relative;
}
/* ------------------------------------GALERIE PHOTOS----------------------------------------------- */
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
} /*on cache tous les input*/

.cadre-demo1 label {
  cursor: pointer; /*on pointe tous les labels*/
}

.cadre-demo1 {
  overflow: hidden;
  position: relative;
  width: 1100px;
  margin: 2rem auto;
  /* box-shadow: 10px 0px 15px 0px black; */
}

.photos-mini {
  padding-top: 57%; /* il s'agit du ratio pour le responsive*/
  display: flex;
}

.miniature {
  flex: 1; /*les photos occupent la même place selon la largeur du conteneur*/
  padding: 0.25rem;
}

.fenetre {
  /*grande photo*/

  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s, opacity 0.6s;
  transform: translatex(-100%);
  opacity: 0;
}

.fen:checked ~ .fenetre {
  transform: translatex(0%);
  opacity: 1;
}

.figcaption {
  /*optionnel*/

  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem;
  transition: opacity 0.4s;
  opacity: 0;
  display: flex;
  justify-content: center;
  color: white;
  background: hsla(0, 0%, 0%, 0.8);
}

.fen:checked ~ .figcaption {
  opacity: 1;
}

/* ------------------------------------GALERIE PHOTOS----------------------------------------------- */

/* -------------------------------LE FOOTER COMMENCE ICI-------------------------- */
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* Credit to https://bootsnipp.com/snippets/bxDBA */

@media (max-width: 835px) {
  .topnav {
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
  }
  .topnav a {
    width: 50%;
  }
}
@media screen and (max-width: 835px) {
  #logo {
    width: 13%;
  }
}
@media screen and (min-width: 835px) {
  #logo {
    visibility: hidden;
  }
}

@media screen and (max-width: 1100px) {
  .cadre-demo1 {
    width: 99%;
    /* margin-top: 400px; */
    margin-bottom: 30px;
  }
}
