/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
  color: green;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: rgb(160, 153, 52);
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 11%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: transparent;
  opacity: 0.5;
  color: rgb(219, 208, 145);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: blanchedalmond;
  color: rgb(0, 0, 0);
}

#logo {
  width: 4%;
  position: absolute;
  left: 3.5%;
  top: 5%;
}

h1 {
  position: relative;
  font-size: 60px;
  font-weight: 100;
  color: rgb(233, 228, 200);
  margin-top: 4%;
  text-align: center;
  font-family: "fredoka one", cursive;
}
#bisection {
  background-image: url(1200px-Noir_couleur.jpg);
}
#video1 {
  width: 50%;
  margin-right: 26%;
  border-radius: 50%;
  /* float: inline-start; */
}
.div_p_bisection {
  text-align: right;
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}

#h2_bisection {
  color: rgb(231, 228, 212);
  position: relative;
  font-family: "fredoka one", cursive;
  font-size: 23px;
  text-align: center;
}
#p_bisection {
  padding-top: 0px;
  text-align: center;
  padding-right: 0px;
}

#rdr2 {
  width: 50%;
  border-radius: 50%;
  margin-right: 26%;
}
#ufc {
  width: 50%;
  border-radius: 50%;
  margin-right: 26%;
}
#thlou {
  width: 50%;
  border-radius: 50%;
  margin-right: 26%;
}
#hero {
  width: 50%;
  border-radius: 50%;
  margin-right: 26%;
}
#fifa {
  width: 50%;
  border-radius: 50%;
  margin-right: 26%;
}

/* ----------------------FOOTER----------------------- */
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

#lienytb {
  color: #d2d6bb;
  width: 10000px;
}
#h2_2 {
  position: relative;
  font-size: 50px;
  font-weight: 100;
  color: rgb(204, 200, 174);
  margin-top: 4%;
  text-align: center;
  /* font-family: sans-serif -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
          Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",; */
  font-family: "fredoka one", cursive;
}

@media (max-width: 835px) {
  .topnav {
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
  }
  .topnav a {
    width: 50%;
  }
}
@media screen and (max-width: 835px) {
  #logo {
    width: 13%;
  }
}
@media screen and (max-width: 800px) {
  .bn632-hover {
    width: 70px;
  }
}
@media screen and (max-width: 800px) {
  #pbutton {
    font-size: 10px;
  }
}
@media screen and (min-width: 835px) {
  #logo {
    visibility: hidden;
  }
}
@media screen and (max-width: 900px) {
  #h2_bisection {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  #h2_bisection {
    font-size: 10px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 500px) {
  #h2_2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  #p_bisection {
    font-size: 10px;
  }
}
